black==22.3.0
bumpversion
flake8
flaky
freezegun==0.3.12
ipdb
mypy==0.942
pip-tools
pre-commit
pytest
pytest-cov
pytest-csv
pytest-dotenv
pytest-logbook
pytest-mock
pytest-xdist
pytz
tox>=3.13
twine
types-colorama
types-PyYAML
types-freezegun
types-Jinja2
types-mock
types-python-dateutil
types-pytz
types-requests
types-setuptools
wheel
